<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>Código</td>
        <td>Descrição</td>
        <td>Hora de início</td>
        <td>Hora de término</td>
        <td>Opções</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let calendario of calendarios">
        <td>{{calendario.id}}</td>
        <td>{{calendario.descricao}}</td>
        <td>{{calendario.hora_inicio}}</td>
        <td>{{calendario.hora_termino}}</td>
        <td>
          <button type="button" class="btn btn-secondary" [routerLink]='["/alterar/"+calendario.id]'>Alterar</button>
          <button type="button" class="btn btn-danger" (click)="delete(calendario)">Remover</button>
        </td>       
      </tr>
    </tbody>
  </table>
